<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xóa tỉnh</title>
</head>
<body>
<h1>Xóa tỉnh</h1>
<h2>Bạn có chắc chắn muốn xóa?</h2>

    <a href="/provinces">Danh sách các tỉnh</a>

<form th:action="@{/delete-province}" th:object="${province}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tên tỉnh:</td>
            <td th:text="${province.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Xóa"></td>
        </tr>
    </table>
</form>
</body>
</html>